<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="/login" method="post">
        <input type="text" name="korisnickoIme">
        <input type="password" name="lozinka">
        <input type="submit" value="Login">
    </form>

    <div id="app">
        <h1>Studentska služba</h1>
        <div v-if="studentZaIzmenu['indeks'] == undefined">
            <form v-on:submit.prevent="dodajStudenta">
                <div>
                    <label for="brojIndeksa">Broj indeksa: </label>
                    <input v-model="noviStudent.brojIndeksa" name="brojIndeksa" required>
                </div>
                <div>
                    <label>Smer: <select v-model="noviStudent.smer" name="smer">
                            <option v-for="smer in smerovi" :value="smer">{{smer.naziv}}</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>Ime: <input v-model="noviStudent.ime" name="ime" required></label>
                </div>
                <div>
                    <label>Prezime: <input v-model="noviStudent.prezime" name="prezime" required></label>
                </div>
                <div>
                    <label>Prosečna ocena: <input v-model="noviStudent.prosecnaOcena" type="number" name="prosecnaOcena"
                            min="5" max="10" required></label>
                </div>
                <div>
                    <button type="submit">Dodaj</button>
                </div>
            </form>
        </div>

        <div v-if="studentZaIzmenu['indeks'] != undefined">
            <form v-on:submit.prevent="izmeniStudenta">
                <div>
                    <label for="brojIndeksa">Broj indeksa: </label>
                    <input v-model="studentZaIzmenu.brojIndeksa" name="brojIndeksa" required>
                </div>
                <div>
                    <label>Smer: <select v-model="studentZaIzmenu.smer" name="smer">
                            <option v-for="smer in smerovi" :value="smer">{{smer.naziv}}</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>Ime: <input v-model="studentZaIzmenu.ime" name="ime" required></label>
                </div>
                <div>
                    <label>Prezime: <input v-model="studentZaIzmenu.prezime" name="prezime" required></label>
                </div>
                <div>
                    <label>Prosečna ocena: <input v-model="studentZaIzmenu.prosecnaOcena" type="number"
                            name="prosecnaOcena" min="5" max="10" required></label>
                </div>
                <div>
                    <button type="submit">Izmeni</button>
                </div>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Broj indeksa</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Prosečna ocena</th>
                    <th>Smer</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(s, indeks) in studenti">
                    <td>{{s.brojIndeksa}}</td>
                    <td>{{s['ime']}}</td>
                    <td>{{s.prezime}}</td>
                    <td>{{s.prosecnaOcena}}</td>
                    <td>{{s.smer.naziv}} [{{s.smer.sifra}}]</td>
                    <td>
                        <button @click="ukloni(indeks)">Ukloni</button>
                        <button @click="odaberiStudenta(s, indeks)">Izmeni</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>


    </div>

    <script src="scripts/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    prikaziTekst: false,
                    noviStudent: {
                        brojIndeksa: undefined,
                        ime: undefined,
                        prezime: undefined,
                        prosecnaOcena: undefined,
                        smer: undefined
                    },
                    studentZaIzmenu: {
                        brojIndeksa: undefined,
                        ime: undefined,
                        prezime: undefined,
                        prosecnaOcena: undefined,
                        smer: undefined
                    },
                    smerovi: [
                        { "sifra": "IT", "naziv": "Informacione tehnologije" },
                        { "sifra": "SII", "naziv": "Softversko i informaciono inženjerstvo" },
                    ],
                    studenti: [
                    ]
                }
            },
            methods: {
                dodajStudenta(event) {
                    this.studenti.push({ ...this.noviStudent });
                },
                izmeniStudenta(event) {
                    let indeks = this.studentZaIzmenu["indeks"];
                    delete this.studentZaIzmenu["indeks"];
                    this.studenti[indeks] = { ...this.studentZaIzmenu };
                    this.studentZaIzmenu = {};
                },
                ukloni(indeks) {
                    this.studenti.splice(indeks, 1)
                },
                odaberiStudenta(student, indeks) {
                    this.studentZaIzmenu = { ...student };
                    this.studentZaIzmenu["indeks"] = indeks
                }
            }
        }).mount('#app')
    </script>
</body>

</html>