<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/kupci/{{kupac.id}}/izmena" method="post">
        <div>
            <label>Korisnicko ime: <input name="korisnickoIme" type="text" maxlength="32" required value="{{kupac.korisnickoIme}}"></label>
        </div>
        <div>
            <label>Lozinka: <input name="lozinka" type="password" maxlength="255"></label>
        </div>
        <div>
            <label>Ime: <input name="ime" type="text" required value="{{kupac.ime}}"></label>
        </div>
        <div>
            <label>Prezime: <input name="prezime" type="text"required value="{{kupac.prezime}}"></label>
        </div>
        <div>
            <input type="submit" value="Izmeni kupca">
        </div>
    </form>
</body>
</html>