<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Kupac</h1>
    <ul>
        <li>{{kupac.id}}</li>
        <li>{{kupac.korisnickoIme}}</li>
        <li>{{kupac.ime}}</li>
        <li>{{kupac.prezime}}</li>
    </ul>
    <a href="/kupci">Nazad</a>
    <a href="/kupci/{{kupac.id}}/formaZaIzmenu">Izmeni</a>
    <a href="/kupci/{{kupac.id}}/obrisi">Ukloni</a>
</body>
</html>