<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Kupci</h1>
    <a href="/dodavanjeKupca.html">Dodaj kupca</a>
    <table>
        <thead>
            <tr>
                <th>R. br.</th>
                <th>ID</th>
                <th>Korisničko ime</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for k in kupci %}
            <tr>
                <td>{{loop.index}}.</td>
                <td>{{k["id"]}}</td>
                <td>{{k.korisnickoIme}}</td>
                <td>{{k.ime}}</td>
                <td>{{k.prezime}}</td>
                <td>
                    <a href="/kupci/{{k.id}}/detalji">Detalji</a>
                    <a href="/kupci/{{k.id}}/formaZaIzmenu">Izmeni</a>
                    <a href="/kupci/{{k.id}}/obrisi">Ukloni</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>