<!DOCTYPE html>
<html>

<head>
    <title>Naslov</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <a href="forma.html">Dodaj studenta</a>
    <table>
        <thead>
            <tr>
                <th>Broj indeksa</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Prosečna ocena</th>
                <th>Smer</th>
                <th>Obrisan</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for s in studenti %}
            <tr {% if s.obrisan %}class="obrisan"{% endif %}>
                <td>{{s.brojIndeksa}}</td>
                <td>{{s['ime']}}</td>
                <td>{{s.prezime}}</td>
                <td>{{s.prosecnaOcena}}</td>
                <td>{{s.smer.naziv}} [{{s.smer.sifraSmera}}]</td>
                <td>{{s.obrisan}}</td>
                <td>
                <a href="?za_brisanje={{loop.index-1}}">Ukloni</a>
                <a href="formaZaIzmenu?za_izmenu={{loop.index-1}}">Izmeni</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
        </tfoot>
    </table>
</body>
</html>
