<html>
<body>

<form action="/edit_user_action?id={{user.id}}" method="POST">
    <input type=hidden name="id" value="{{user.id}}">
    Email:    <input name="email" id="name" value="{{user.email}}"><br>
    Password: <input name="password" type="password" id="password" value="{{user.password}}"><br>
    <input type="submit" value="Snimi">
</form>

</body>
</html>