<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const validacija = function () {
            let regexp = new RegExp("^[0-9]{4}/[0-9]{6}$")
            let vrednost = document.querySelector("#brojIndeksa").value;
            // alert("Greska");
            return regexp.test(vrednost);
        }
    </script>
</head>

<body>
    <a href="/">Nazad na početnu stranicu</a>
    <form {% if indeks is not none %}action="/izmeniStudenta" {% else %} action="/dodajStudenta" {% endif %}
        method="POST" onsubmit="return validacija()">
        <input name="za_izmenu" type="hidden" value="{{indeks}}">
        <div>
            <label for="brojIndeksa">Broj indeksa: </label>
            <input name="brojIndeksa" id="brojIndeksa" value="{{student.brojIndeksa}}" required>
        </div>
        <div>
            <label>Smer: <select name="smer">
                    {% for s in smerovi %}<option value="{{s.id}}" {% if s.id == student.smer_id %}selected{% endif %}>{{s.naziv}}</option> {%endfor%}
                </select>
            </label>
        </div>
        <div>
            <label>Ime: <input name="ime" required value="{{student.ime}}"></label>
        </div>
        <div>
            <label>Prezime: <input name="prezime" required value="{{student.prezime}}"></label>
        </div>
        <div>
            <label>Prosečna ocena: <input value="{{student.prosecnaOcena}}" type="number" name="prosecnaOcena" min="5"
                    max="10" required></label>
        </div>
        <div>
            <button type="submit">{% if indeks is not none %}Izmeni{% else %}Dodaj{% endif %}</button>
        </div>
    </form>

</body>

</html>