<!DOCTYPE html>
<html>

<head>
    <title>Naslov</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {% if session["korisnik"] is not none and 1 in session["korisnik"]["pravaPristupa"] %}
    <a href="forma.html">Dodaj studenta</a>
    {% endif %}
    {% if session["korisnik"] is not none %}
    <a href="logout">Odjavi se</a>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Broj indeksa</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Prosečna ocena</th>
                <th>Smer</th>
                <th>Obrisan</th>
                {% if session["korisnik"] is not none and 1 in session["korisnik"]["pravaPristupa"] %}
                <th></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for s in studenti %}
            <tr {% if s.obrisan %}class="obrisan" {% endif %}>
                <td>{{s.brojIndeksa}}</td>
                <td>{{s['ime']}}</td>
                <td>{{s.prezime}}</td>
                <td>{{s.prosecnaOcena}}</td>
                <td>{{s.smer.naziv}} [{{s.smer.sifraSmera}}]</td>
                <td>{{s.obrisan}}</td>
                {% if session["korisnik"] is not none and 1 in session["korisnik"]["pravaPristupa"] %}
                <td>
                    <a href="?za_brisanje={{s.brojIndeksa}}">Ukloni</a>
                    <a href="formaZaIzmenu?za_izmenu={{s.brojIndeksa}}">Izmeni</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</body>

</html>