<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <a href="dodajRobuForma.html">Dodaj robu</a>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Naziv</td>
                <td>Proizvođač</td>
                <td>Cena</td>
                <td>Akcije</td>
            </tr>
        </thead>
        <tbody>
            {% for r in roba %}
            <tr>
                <td>{{r.id}}</td>
                <td>{{r.naziv}}</td>
                <td>{{r.proizvodjac}}</td>
                <td>{{r.cena}}</td>
                <td><a href="ukloniRobu?id={{r.id}}">Ukloni</a>
                    <a href="izmeniRobu?id={{r.id}}">Izmeni</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>